.categories{
    background-color:red;
    padding :10px;
    color: brown;

     .category-container{
        background-color: brown;
        padding: 20px;

        .category-body{
            background-color: aquamarine;
            padding: 30px;
        }
}


}

